<!-- Basic Footer -->
<div class="uk-section uk-light" style="border-top: 1px solid #eee;">
    <div class="uk-container">
        <div class="uk-text-center">
            <p style="color: #000;">&copy; 2024 Gideon Jewelry Collection. All rights reserved.</p>
            <p style="color: #000;">
                <a href="mailto:h230222m@hit.ac.zw" style="color: #000;">
                    <span uk-icon="icon: mail"></span> h230222m@hit.ac.zw
                </a>
            </p>
        </div>
    </div>
</div>
