{% include 'imports.html' %}
{% include 'navbar.html' %}

<!-- Hero Section -->
<div class="uk-section uk-background-cover" style="background-image: url('../static/landing.jpg'); height: 100vh;">
</div>
<div class="uk-container uk-position-bottom-left uk-light">
    <h3 style="font-family: Raleway, sans-serif;">Gideon Jewelry Collection</h3>
    <p>From a signature jewellery technique to a timeless icon.</p>
    <button
        style="background-color: transparent; padding-bottom: 4px; border: none; border-bottom: 2px solid #fff;color: #fff;font-size: 14pt; font-weight: 500; text-transform: uppercase;cursor: pointer;">Shop
        Gideon</button>
</div>
</div>

<!-- Products Section -->
<div class="uk-margin uk-margin-large-left uk-margin-large-right">
    <h2 style="margin-top: 70px;font-family: Raleway, sans-serif;font-weight: 500;">Our Products</h2>
    <div class="uk-child-width-1-3@m uk-grid-small uk-grid-match" uk-grid>
        <div>
            <div class="uk-card uk-card-default" style="box-shadow: none;">
                <div class="uk-card-media-top" style="border: 1px solid #eee;">
                    <img src="../static/ring.avif" alt="">
                </div>
                <div class="uk-card-body uk-text-left" id="card" style="margin-left: -4ch;">
                    <h3 class="uk-card-title" style="font-family: Raleway, sans-serif;">Matrix ring</h3>
                    <p>$ 149</p>
                    <button class="uk-text-bold add-to-cart"
                        style="border: none;border-bottom: 2px solid #000;background-color: transparent;padding-bottom: 4px;cursor: pointer;">Add
                        to cart</button>
                </div>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default" style="box-shadow: none;">
                <div class="uk-card-media-top" style="border: 1px solid #eee;">
                    <img src="../static/pendant.avif" alt="">
                </div>
                <div class="uk-card-body uk-text-left" id="card" style="margin-left: -4ch;">
                    <h3 class="uk-card-title" style="font-family: Raleway, sans-serif;">Symbolica pendant</h3>
                    <p>$ 80</p>
                    <button class="uk-text-bold add-to-cart"
                        style="border: none;border-bottom: 2px solid #000;background-color: transparent;padding-bottom: 4px;cursor: pointer;">Add
                        to cart</button>
                </div>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default" style="box-shadow: none;">
                <div class="uk-card-media-top" style="border: 1px solid #eee;">
                    <img src="../static/necklace.avif" alt="">
                </div>
                <div class="uk-card-body uk-text-left" id="card" style="margin-left: -4ch;">
                    <h3 class="uk-card-title" style="font-family: Raleway, sans-serif;">Mesmera choker</h3>
                    <p>$ 850</p>
                    <button class="uk-text-bold add-to-cart"
                        style="border: none;border-bottom: 2px solid #000;background-color: transparent;padding-bottom: 4px;cursor: pointer;">Add
                        to cart</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Products Section -->
<div class="uk-margin uk-margin-large-left uk-margin-large-right">
    <div class="uk-child-width-1-3@m uk-grid-small uk-grid-match" uk-grid>
        <div>
            <div class="uk-card uk-card-default" style="box-shadow: none;">
                <div class="uk-card-media-top" style="border: 1px solid #eee;">
                    <img src="../static/millenia.avif" alt="">
                </div>
                <div class="uk-card-body uk-text-left" id="card" style="margin-left: -4ch;">
                    <h3 class="uk-card-title" style="font-family: Raleway, sans-serif;">Millenia open ring</h3>
                    <p>$ 129</p>
                    <button class="uk-text-bold add-to-cart"
                        style="border: none;border-bottom: 2px solid #000;background-color: transparent;padding-bottom: 4px;cursor: pointer;">Add
                        to cart</button>
                </div>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default" style="box-shadow: none;">
                <div class="uk-card-media-top" style="border: 1px solid #eee;">
                    <img src="../static/cocktail.avif" alt="">
                </div>
                <div class="uk-card-body uk-text-left" id="card" style="margin-left: -4ch;">
                    <h3 class="uk-card-title" style="font-family: Raleway, sans-serif;">Idyllia cocktail ring</h3>
                    <p>$ 129</p>
                    <button class="uk-text-bold add-to-cart"
                        style="border: none;border-bottom: 2px solid #000;background-color: transparent;padding-bottom: 4px;cursor: pointer;">Add
                        to cart</button>
                </div>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default" style="box-shadow: none;">
                <div class="uk-card-media-top" style="border: 1px solid #eee;">
                    <img src="../static/sublima.avif" alt="">
                </div>
                <div class="uk-card-body uk-text-left" id="card" style="margin-left: -4ch;">
                    <h3 class="uk-card-title" style="font-family: Raleway, sans-serif;">Sublima open ring</h3>
                    <p>$ 129</p>
                    <button class="uk-text-bold add-to-cart"
                        style="border: none;border-bottom: 2px solid #000;background-color: transparent;padding-bottom: 4px;cursor: pointer;">Add
                        to cart</button>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    /*use media queries to make cards responsive*/
    @media (max-width: 768px) {
        .uk-child-width-1-3@m {
            grid-template-columns: 1fr;
        }

        #card h3,
        p,
        button {
            margin-left: 1ch;
        }
    }
</style>

{% include 'footer.html' %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const buttons = document.querySelectorAll('.add-to-cart');
        buttons.forEach(button => {
            button.addEventListener('click', function () {
                new Notify({
                    status: 'success',
                    title: 'Add to cart',
                    text: 'Item added to cart',
                    effect: 'fade',
                    speed: 300,
                    customClass: null,
                    customIcon: null,
                    showIcon: true,
                    showCloseButton: true,
                    autoclose: true,
                    autotimeout: 3000,
                    gap: 20,
                    distance: 20,
                    type: 'outline',
                    position: 'x-center'
                });
                let cartCount = document.getElementById('cartCount');
                cartCount.textContent = parseInt(cartCount.textContent) + 1;
                localStorage.setItem('cartCount', cartCount.textContent);
                let cartItems = JSON.parse(localStorage.getItem('cartItems')) || [];
                const item = {
                    name: this.parentElement.querySelector('h3').innerText,
                    price: this.parentElement.querySelector('p').innerText,
                    img: this.parentElement.parentElement.querySelector('img').src
                };
                cartItems.push(item);
                localStorage.setItem('cartItems', JSON.stringify(cartItems));
            });
        });

        let storedCartCount = localStorage.getItem('cartCount');
        if (storedCartCount) {
            document.getElementById('cartCount').textContent = storedCartCount;
        }
    });
</script>
</div>