{% include 'imports.html' %}


<nav style="background-color: #fff;" class="uk-navbar-container uk-margin uk-margin-large-left uk-margin-large-right"
    uk-navbar>
    <div class="uk-navbar-left">
        <a class="uk-navbar-toggle" uk-navbar-toggle-icon href="/"></a>
    </div>

    <div class="uk-navbar-center">
        <a class="uk-navbar-item uk-logo uk-text-bold uk-text-large" style="font-family: Cormorant Unicase, serif;"
            href="/">Gideon</a>
    </div>

    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            <li>
                <a href="/cart">
                    <span uk-icon="icon: bag"></span>
                    <span class="uk-badge" id="cartCount">0</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
