{% include 'imports.html' %}


<nav style="background-color: #fff;" class="uk-navbar-container uk-margin uk-margin-large-left uk-margin-large-right"
    uk-navbar>
    <div class="uk-navbar-left">
        <a class="uk-navbar-toggle" uk-navbar-toggle-icon href="#"></a>
    </div>

    <div class="uk-navbar-center">
        <a class="uk-navbar-item uk-logo uk-text-bold uk-text-large" style="font-family: Cormorant Unicase, serif;"
            href="#">Gideon</a>
    </div>

    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            <li>
                <a href="#">
                    <span uk-icon="icon: bag"></span>
                    <span class="uk-badge">3</span> <!-- Example badge showing 3 items in cart -->
                </a>
            </li>
        </ul>
    </div>
</nav>

<!-- Hero Section -->
<div class="uk-section uk-background-cover" style="background-image: url('../static/landing.jpg'); height: 100vh;">
</div>
<div class="uk-container uk-position-bottom-left uk-light">
    <h3>Gideon Jewelery Collection</h3>
    <p>From a signature jewellery technique to a timeless icon.</p>
    <button>Shop Gideon</button>
</div>
</div>