{% include 'imports.html' %}


<nav style="background-color: #fff;" class="uk-navbar-container uk-margin uk-margin-large-left uk-margin-large-right"
    uk-navbar>
    <div class="uk-navbar-left">
        <a class="uk-navbar-toggle" uk-navbar-toggle-icon href="/"></a>
    </div>

    <div class="uk-navbar-center">
        <a class="uk-navbar-item uk-logo uk-text-bold uk-text-large" style="font-family: Cormorant Unicase, serif;"
            href="/">Gideon</a>
    </div>

    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            <li>
                <a id="searchIcon">
                    <span uk-icon="icon: search"></span>
                </a>
            </li>
            <li>
                <a href="/cart">
                    <span uk-icon="icon: bag"></span>
                    <span class="uk-badge" id="cartCount">0</span>
                </a>
            </li>
        </ul>
    </div>
</nav>

<!-- Search input field -->
<div id="searchContainer" style="display: none; text-align: center;">
    <input type="text" class="uk-input uk-margin-large-bottom" id="searchInput" placeholder="Search for items..."
        style="width: 50%; padding: 10px; margin-top: 10px;border: 2px solid #000;">
</div>

<script>
    /* searchbox */
    document.addEventListener('DOMContentLoaded', function () {
        const searchIcon = document.getElementById('searchIcon');
        const searchContainer = document.getElementById('searchContainer');
        const searchInput = document.getElementById('searchInput');

        searchIcon.addEventListener('click', function () {
            searchContainer.style.display = searchContainer.style.display === 'none' ? 'block' : 'none';
        });

        searchInput.addEventListener('input', function () {
            const query = searchInput.value.toLowerCase();
            const items = document.querySelectorAll('.uk-card');

            items.forEach(item => {
                const itemName = item.querySelector('.uk-card-body').innerText.toLowerCase();
                if (itemName.includes(query)) {
                    item.style.display = 'block';
                } else {
                    item.style.display = 'none';
                }
            });
        });
    });
</script>